[submodule "docs/external/slang"]
	path = docs/external/slang
	url = https://github.com/shader-slang/slang.git
[submodule "docs/external/slangpy"]
	path = docs/external/slangpy
	url = https://github.com/shader-slang/slangpy.git
[submodule "docs/external/core-module-reference"]
	path = docs/external/core-module-reference
	url = https://github.com/shader-slang/stdlib-reference.git
[submodule "docs/external/stdlib-reference"]
	path = docs/external/stdlib-reference
	url = https://github.com/shader-slang/stdlib-reference.git
