---
---

@import "{{ site.theme }}";
a {
  color: #2c6d79;
}
a:hover {
    text-decoration: underline;
}
hr {padding:0px;}
h1 {
  margin-bottom: 20px;
}
h2 {
  font-size:26px;
  margin-top:10px;
  margin-bottom: 10px;
}
h3 {
    font-size: 22px;
    color: #363636;
}
h4 {
    color: #363636;
    font-size: 20px;
}
blockquote {
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 5px;
}
blockquote p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #202020;
}
body {
    text-shadow: none;
    background: none;
    font-size:20px;
}
#container 
{
    background:none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.highlight .cm {
  color: #148b04;
}
.highlight .cp {
  color: #148b04;
}
.highlight .c1 {
  color: #148b04;
}
.highlight .cs {
  color: #148b04;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #148b04;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #1243d4;
}
.highlight .kd {
  color: #1243d4;
}
.highlight .kn {
  color: #1243d4;
}
.highlight .kp {
  color: #1243d4;
}
.highlight .kr {
  color: #1243d4;
}
.highlight .kt {
  color: #1243d4;
}
.highlight .k, .highlight .kv {
  color: #1243d4;
}
.highlight .m, .highlight .mb, .highlight .mx, .highlight .mi, .highlight .mf {
  color: #7211c2;
}
.highlight .sa {
  color: #000000;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s, .highlight .dl {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .n{
    color: black;
}
.highlight .nc {
  color: #11abb9;
}
.highlight .nt {
  color: #11abb9;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv, .highlight .vm {
  color: #008080;
}
.highlight .ow {
  color: #000000;
}
.highlight .o {
  color: #000000;
}
.highlight .w {
  color: #000000;
}
.highlight .p {color:#000000;}

code
{
    background-color: initial;
    border:none;
}
pre{
  color: #000000;
  background: #F8F8F8;
}
pre code {
  color: #000000;
  background-color: #F8F8F8;
}
.highlight
{
    background: #F8F8F8;
}

#centeringDiv {
  margin: auto;
  max-width: 900px;
}
#navDiv
{
  display: block;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #F0F0F0;
}
#navDiv nav
{
  float:left;
}
#navDiv::after {
  content: "";
  clear: both;
  display: table;
}
#navDiv nav li::after
{
  content: "/";
  padding-left: 10px;
  padding-right: 0px;
  color: #808080;
}
#navDiv nav li
{
  display:inline;
  padding-left: 10px;
  padding-right: 0px;
}
#tocColumn {
  width: 350px;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#tocSearchPanel{
  flex: none;
  height:25px;
  padding-top:10px;
  padding-bottom: 0px;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:5px;
  display: flex;
}
#tocSearchPanelInner{
  flex:1 1 0;
  padding:5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; 
}
.search_panel_unfocused
{
  outline: solid 2px #E0E0E0;
}
.search_panel_unfocused:hover
{
  outline: solid 2px #C0C0C0;
}
.search_panel_focused
{
  outline: solid 2px rgb(228, 109, 85);
}
#tocSearchResult{
  position: absolute;
  left:10px;
  top:0px;
  width: 280px; 
  max-height: 350px;
  overflow-y: auto;
  border: 1px solid #ccc;
  filter: drop-shadow(2px 2px 4px #30303080);
  background-color: #F0F0F0;
  display: none;
  z-index: 1000;
}
#txtSearch{
  order: 1;
  flex: 1 1 0;
  height: 100%;
  border: none;
  outline:none;
}
input:focus{
  border: none;
  outline:none;
}
.searchIcon{
  order: 0;
  right: 0px;
  top: 5px;
  fill: #808080;;
  color: #808080;
  flex: none;
}
#tocScrollContainer {
  flex: 1 0 0;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
}

#tocInner {
  padding: 10px;
}

#rightColumn {
  padding-left: 390px;
  padding-right: 40px;
  padding-top: 20px;
}

.toc_root_list {
  list-style-type: none;
  list-style-position: outside;
  background-color: initial;
  padding-left: 0px;
}
.toc_list {
    padding-left: 16px;
    background-color: initial;
    list-style-type: none;
    margin-bottom: 0px;
}
.toc_item {
    cursor: pointer;
    user-select: none;
    list-style-type: none;
    padding-left: 0px;
    padding-top: 5px;
}
.toc_item_expanded::before {
    content: "\25be";
    cursor: pointer;
}
.toc_item_collapsed::before {
    content: "\25b8";
    cursor: pointer;
}
.toc_item_leaf {
    padding-left: 14px;
    cursor: pointer;
    list-style-type: none;
}
.search_result_item {
  cursor: pointer;
  user-select: none;
  list-style-type: none;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.toc_span:hover
{
  color: #d5000d;
}
.tocIcon
{
  vertical-align: -2.5px;
}
.goto_highlight
{
    background-color: #ffee71;
    transition: background-color 0.5s ease-out;
}
.goto_highlight_fade_out
{
  background-color: transparent;
  transition: 2s ease-out;
}
.editButton
{
  float: right;
  margin-right: 10px;
  color:#808080;
}
.editIcon
{
  fill: currentColor;
  vertical-align: text-top;
}
.code
{
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  background-color: #F0F0F0;
}
.code_type
{
  color:#267F99
}
.code_keyword
{
  color:#0000FF
}
.code_var
{
  color:#001080
}
.code_param
{
  color:#808080
}
.highlighted_search_selection
{
  background-color: #FFE0E0;
}
h2 {
  margin-top: 1em;
}
#btnToggleTOC {
  display: none;
  width: fit-content;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  background-color: #E8E8E8;
}
#btnToggleTOC:hover {
  background-color: #F0F0E8;
}
#btnToggleTOC:active {
  background-color: #D4D4D4;
}

#logoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  flex-grow: 0;
  height: 60px;
}

#bodyInner
{
  max-width: 900px;
  padding-left:10px;
  padding-right:10px;
}
#innerHeader{
  display: flex;
  width: 100%;
  max-width: 920px;
  min-height:60px;
  align-items: center;
  flex-wrap: wrap;
}

.slang_title
{
   font-size: 20pt;
   font-weight: bold;
}

.slang_subtitile
{
    font-size: 14pt;
}

.main_nav
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right:10px;
}

.mainNavItem
{
  padding-top:14px;
  padding-left:0px;
  padding-right:0px;
  margin-left: 20px;
}

header
{
  background-color: #dbe1e1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  width:100%;
}

#banner
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding:0px;
  flex-wrap: wrap;
  flex: 1 1;
}
#bannerLeft
{
  flex-grow: 1;
  padding-right:20px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}
#bannerText
{
  font-size:26px;
}
#bannerCode
{
  margin-top: 15px;
  width: 300px;
  height:auto;
  flex: 2 1;
}
#mainPageBanerNav
{
  display: flex;
  flex-direction: row;
}
.mainPageBtn
{
  padding: 15px;
  background-color: #cadfe6;
  margin-right: 10px;
  margin-top: 15px;
  align-content: center;
}
.mainPageBtn:hover
{
  background-color: #e7f5f9;
}
.fullwidthImage
{
  width: 100%; /* Image can scale down to fit the container */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent the image from enlarging beyond its original size */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 1024px) {
  header{flex-direction: row; flex-wrap: wrap;}
  #innerHeader {flex-direction: row; flex-wrap: wrap;}
  .main_nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 880px) {
  header{flex-direction: row; flex-wrap: wrap;}
  #innerHeader {flex-direction: row; flex-wrap: wrap; justify-content:center;}
  .main_nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}