---
layout: default
bodyClass: "page-post"
---

<div class="container">
    <div class="row">
        <div class="col-12">

            <p><div class="btn btn-secondary" style="cursor:inherit;">Virtual Meetup</div></p>

            <h1>{{ page.title }}
                <hr>
            </h1>

            {% if page.youtube_id and page.youtube_id != '' %}
                {% include youtube_video.html youtube_id=page.youtube_id %}
            {% endif %}

            <div class="metadata">
                <div class="date">
                {% if page.human_date and page.human_date != '' %}
                 {{ page.human_date }}
                {% endif %}
                {% if page.human_date and page.human_time != '' %}
                 | {{ page.human_time }}
                {% endif %}
                {% if page.human_date and page.session_length != '' %}
                 | {{ page.session_length }}
                {% endif %}
                </div>
            </div>

            {{content}}
        </div>
    </div>
</div>