---
layout: default
bodyClass: "page-post"
---

<div class="container">
    <div class="row">
        <div class="col-12">

            <p><button class="btn btn-secondary">Blog Post</button></p>

            <h1>{{ page.title }}<hr></h1>
            <div class="metadata">
                {% if page.human_date and page.human_date != '' %}
                <div class="date"> {{ page.human_date | date: "%B %d, %Y"}}</div>
                {% else %}
                <div class="date"> {{ page.date | date: "%B %d, %Y"}}</div>
                {% endif %}
                <div class="author">{{ page.author }}</div>
            </div>

            {% if page.youtube_id and page.youtube_id != '' %}
                {% include youtube_video.html youtube_id=page.youtube_id %}
            {% endif %}

            {{content}}
</div>
</div>
</div>